@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-sans;
	}
	body {
		@apply overscroll-none;
	}
	h1 {
		@apply text-xl font-bold text-slate-700;
	}
	h2 {
		@apply text-lg font-bold text-slate-700;
	}
	h6 {
		@apply text-sm text-slate-500 mb-2;
	}
	input {
		@apply text-slate-700;
	}
	button {
		@apply select-none;
	}
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	@apply bg-slate-50;
}
::-webkit-scrollbar-thumb {
	@apply bg-slate-200;
}
::-webkit-scrollbar-thumb:hover {
	@apply bg-slate-300;
}

/* Editor BG */
.Editor {
	background-image: linear-gradient(
		45deg,
		rgba(241, 245, 249, 0.4) 25%,
		transparent 25%,
		transparent 50%,
		rgba(241, 245, 249, 0.4) 50%,
		rgba(241, 245, 249, 0.4) 75%,
		transparent 75%,
		transparent
	);
	background-size: 10px 10px;
}

/* Color picker */
.react-colorful {
	width: 120px !important;
	height: 120px !important;
}
